:root {
    --red-color:hsl(0, 100%, 74%) ;
    --green-color: hsl(154, 59%, 51%);
    --blue-color: hsl(248, 32%, 49%);
    --darl-blue:  hsl(249, 10%, 26%);
    --grayish-blue:  hsl(246, 25%, 77%);
  }
  html{
      box-sizing: border-box;
  }
  *,
  *::before,
  *::after{
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    font-size: 16px;
    line-height: 1.4;
    background-image: url('images/bg-intro-desktop.png');
    background-color:var(--red-color);
    overflow: hidden;
  }
  .container{
      width: 1440px;
      margin-left: auto;
      margin-right: auto;
      
  }
  .wrapper{
    display: flex;
    margin-left: 120px;
    margin-right: auto;
    margin-top: 200px;
    align-items: center;
  }
  .signup-text{
      width: 530px;
      margin-bottom: 100px;
  }
  .signup-form{
    margin-left: 100px;
    width: 430px;
    padding: 20px 20px 20px 15px;
    background:white;
    padding-right: auto;
    padding-left: auto;
    box-shadow: 0 10px 2px -2px rgb(240, 96, 96);
    border-radius: 10px;
  }
  .text-title{
      color: rgb(240, 234, 234);
      font-size: 40px;
  }
  .main-text{
      width: 500px;
      color: whitesmoke;
  }
  .card{
        position: absolute;
        content: "";
        top: 116px;
        left: 746px;
        padding: 17px 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        width: 430px;
        font-size: 16px;
        background-color: #5d54a3;
        box-shadow: 0 10px 2px -2px rgb(240, 96, 96);
  } 
  .form-input[type=text], .form-input[type=password], .form-input[type=email] {
      padding: 15px 2px;
      border-radius: 5px;
      margin-bottom: 15px;
      width: 400px;
      border: 1px solid rgb(196, 196, 196);
      border-radius: 4px;
     
  }
  .form-input[type=text]:active{
      color: var(--blue-color);
  }
  .form-btn{
      width: 400px;
      padding: 15px 2px;
      border-radius: 5px;
      margin-bottom: 15px;
      width: 400px;
      background-color: var(--green-color);
      border: 1px solid rgb(196, 196, 196);
      border-radius: 4px;
      color: white;
  }
  .terms{
      font-size: 10px;
      display: flex;
      margin-left: 30px;
      color: rgb(167, 158, 158);
  }
  .form-terms{
      color: red;
      margin-left: 3px;
      text-decoration: none;
  }