:root {
    --red-color:hsl(0, 100%, 74%) ;
    --green-color: hsl(154, 59%, 51%);
    --blue-color: hsl(248, 32%, 49%);
    --darl-blue:  hsl(249, 10%, 26%);
    --grayish-blue:  hsl(246, 25%, 77%);
  }
  html{
      box-sizing: border-box;
  }
  *,
  *::before,
  *::after{
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-display: swap;
    font-size: 16px;
    line-height: 1.4;
    background-image: url('images/bg-intro-desktop.png');
    background-color:var(--red-color);
    overflow: hidden;
  }
  .container{
      width: 1440px;
      margin-left: auto;
      margin-right: auto;
      
  }
  .wrapper{
    display: flex;
    margin-left: 120px;
    margin-right: auto;
    margin-top: 200px;
    align-items: center;
  }
  .signup-text{
      width: 530px;

  }
  .signup-form{
    margin-left: 100px;
    width: 430px;
    padding: 10px;
    background:white;
    padding-right: auto;
    padding-left: auto;
  }
  .text-title{
      color: rgb(240, 234, 234);
      font-size: 40px;
  }
  .main-text{
      width: 500px;
      color: whitesmoke;
  }
  .form-input{
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 15px;
      width: 400px;
  }
  .form-btn{
      width: 400px;
  }